[Unit]
Description = /mnt/gmedia MergerFS mount
PartOf=gmedia.service
After=gmedia-rclone.service
RequiresMountsFor=/mnt

[Mount]
What = /mnt/local:/mnt/crypt
Where = /mnt/gmedia
Type = fuse.mergerfs
Options = use_ino,hard_remove,auto_cache,sync_read,allow_other,category.action=all,category.create=ff

[Install]
WantedBy=gmedia.service
