[Unit]
Description=RClone Service
PartOf=gmedia.service
RequiresMountsFor=/mnt

# This uses cmount as it's a built version of rclone from source
# sync_read must be used or files are read out of order
# auto_cache allows for system memory to be used

[Service]
Type=notify
Environment=RCLONE_CONFIG=/home/cloudbox/.config/rclone/rclone.conf
ExecStart=/usr/bin/rclone mount backup: /mnt/crypt --allow-other --buffer-size 1G --dir-cache-time 72h --drive-chunk-size 32M --fast-list --log-level INFO --config /home/cloudbox/.config/rclone/rclone.conf --log-file /home/cloudbox/logs/rclone.log --umask 002 --vfs-read-chunk-size 128M --vfs-read-chunk-size-limit off
ExecStop=/bin/fusermount -uz /mnt/crypt
Restart=on-failure
User=cloudbox
Group=cloudbox

[Install]
WantedBy=gmedia.service
