[Unit]
Description=mergerFS Mounts
PartOf=gmedia.service
After=gmedia-rclone.service
RequiresMountsFor=/GD

[Service]
Type=forking
User=felix
Group=felix
ExecStart=/home/felix/scripts/mergerfs_mount
ExecStop=/bin/fusermount -uz /gmedia
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=gmedia.service
