[Unit]
Description=RClone Service
PartOf=gmedia.service

# This uses cmount as it's a built version of rclone from source
# sync_read must be used or files are read out of order
# auto_cache allows for system memory to be used

[Service]
Type=notify
ExecStart=/home/felix/go/bin/rclone cmount gcrypt: /GD \
   --allow-other \
   --dir-cache-time 72h \
   -o sync_read \
   -o auto_cache \
   --buffer-size 128M \
   --vfs-read-chunk-size 64M \
   --vfs-read-chunk-size-limit off \
   --umask 002 \
   --bind 192.168.1.30 \
   --log-level DEBUG \
   --log-file /home/felix/logs/rclone.log
ExecStop=/bin/fusermount -uz /GD
Restart=on-failure
User=felix
Group=felix

[Install]
WantedBy=gmedia.service
